/*Crear Variable para no repetir pasos
 Que nombre sea relacionado*/
:root{
    --brandingcolor1:rgb(55, 117, 117);
    --brandingcolor2:white;
}

nav{
    padding: 10px 20px; 
    /*El padding es la distancia con 
    respecto al borde de la cajita
    
    Para modificarlo son 4 lugares
    El primero modifica las 12pm
    El segundo modifica las 3pm
    El tercero modifica las 6pm
    El cuarto modifica las 9pm

    Si pone 2, serian 
    El primero modifica las 12pm
    El segundo modifica las 6pm

    La forma larga pero especifica es:
    padding-top:10px
    padding-left: 20px
    padding-rigth: 10px
    padding-bottom: 10px

    */
    display: flex;
    /*Eje principal*/
    justify-content: space-between;
    /*Eje secundario*/
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav > div {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    font-size: 25px;
}
/*Como ponerle efecto o estilo a pseudoclase a todo el DIV o elementos
    nav>div>p:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}*/
/*Hacer efecto o estili a solo los elementos que tienen esta class*/
.hover:hover {
    border-bottom: 3px solid white;
    cursor: pointer;
    /*Transicion para hacerlo el cambio del hover mas smooth*/
    
}
.logohover:hover {
    cursor: pointer;
}

#contact{
    background-color: var(--brandingcolor2);
    /*Asi se llama a la variable para que se aplique donde se necesite*/
    color: var(--brandingcolor1); 
    font-weight: 550;
    font-size: 20px;
    /*border: 20px solid black;*/
    /*border: ex dotted, dashed */
    border: none;
    border-radius: 6px 0px 6px 0px;
}

/*PSEUDO CLASES
Son los estados o status en que actua un elemento Ex:
:active (Cuando se le da click)
:focus (Cuando se selecciona)
:hover (Cuando pasa por encima el mouse)
:visited (Cuando ya se visitó o se le dió click)
:link (Cuando no se ha visitado o dado click)
:first-child (Primer hijo que es el primer p'arrafo)
:last-child (Ultimo hijo que es el ultimo p'arrafo)
*/
#contact:hover {
    background-color: var(--brandingcolor1); 
    /*TIP:Ctrl + D y selecciona la siguiente palabra que es igual*/
    color: var(--brandingcolor2);
    font-weight: 400;
    font-size: 22px;
    border-bottom: 3px solid var(--brandingcolor2);
    border-right: 5px solid var(--brandingcolor1);
    transition: .2s;
    cursor: pointer;
}

/*
  QUERY RESPONSIVE
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}